{% extends 'main.html' %}
{% block content%}
  <main class="messagePage my-xl">

    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><span class="material-symbols-outlined">chevron_backward</span></a>
        <h2 class="message__subject">{{message.subject}}</h4>
          <a href="{% url 'single-profile' message.sender.id %}" class="message__author">{{message.sender}}</a>
          <p class="message__date">{{message.created}}</p>
          <div class="message__body">
            {{message.body|linebreaksbr}}
          </br>
          <a href="{% url 'delete_message' message.id %}" class="btn btn--sub btn--lg  my-md">Delete</a>
            <a href="{% url 'send_message' message.sender.id %}" class="btn btn--sub btn--lg  my-md">Reply</a>
          </div>
      </div>
    </div>
   
    
  
   
   
  </main>
{% endblock content%}