    {% extends 'main.html' %}
    {% block content %}
      <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><span class="material-symbols-outlined">arrow_back</span></a>
        <h2 class="message__subject">{{message.subject}}</h4>
          <a href="{% url 'single-profile' message.receiver.id %}" class="message__author">{{message.receiver}}</a>
          <p class="message__date">{{message.created}}</p>
          <div class="message__body">
            {{message.body|linebreaksbr}}
          </br>
          
            <a href="{% url 'delete_message' message.id %}" class="btn btn--sub btn--lg  my-md">Delete</a>
            <a href="{% url 'send_message' message.receiver.id %}" class="btn btn--sub btn--lg  my-md">Send New</a>
          </div>
        </div>
    </div>
  </main>
    {% endblock content %}